@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply bg-slate-200 text-light-content lg:bg-[length:32%];
  background-image: url("../assets/images/poly-top.svg"),
    url("../assets/images/poly-bottom.svg");
  background-position:
    left top,
    right bottom;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-light-content-emphasis;
  margin: 0;
  font-family: var(--font-aleo);
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  position: relative;
  margin-bottom: 40px;
}

h1::before,
h1::after {
  content: "";
  border-radius: 0.5rem;
  height: 5px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

h1:before {
  @apply bg-blue-500;
  width: 50px;
}

h1::after {
  @apply bg-orange-400;
  width: 16px;
}

h2 {
  @apply mb-6;
  font-size: 1.5rem;
}

h3 {
  @apply mb-2.5;
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.0625rem;
}

h6 {
  font-size: 1rem;
}

.toc-link {
  @apply text-light-content;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.toc-link:hover {
  @apply text-light-content-strong;
  border-style: solid;
}
