@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply bg-slate-200 text-light-content lg:bg-[length:32%];
  background-image: url("../../assets/images/poly-top.svg"),
    url("../../assets/images/poly-bottom.svg");
  background-position:
    left top,
    right bottom;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-light-content-emphasis;
  margin: 0;
  font-family: var(--font-aleo);
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  position: relative;
  margin-bottom: 40px;
}

h1::before,
h1::after {
  content: "";
  border-radius: 0.5rem;
  height: 5px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

h1:before {
  @apply bg-blue-500;
  width: 50px;
}

h1::after {
  @apply bg-orange-400;
  width: 16px;
}

h2 {
  @apply mb-6;
  font-size: 1.5rem;
}

h3 {
  @apply mb-2.5;
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.0625rem;
}

h6 {
  font-size: 1rem;
}

/* ============================Markdown things========================================= */
.toc-link {
  text-decoration: none;
  border-bottom: 1px dashed;

  &:hover {
    @apply text-light-content-strong;
    border-style: solid;
  }
}

[data-rehype-pretty-code-fragment] pre {
  @apply border bg-slate-100 p-0;

  label {
    @apply bg-slate-400 px-4 py-0.5 text-light-content-inverted;
  }

  code {
    @apply block px-4 py-3;

    [data-chars-id="error"] {
      @apply border-b-2 border-b-red-500 bg-red-200 text-red-600;
      font-weight: bold;
      padding: 2px 4px;
      border-radius: 4px;

      & > * {
        color: inherit !important;
      }
    }
  }
}
